<section class="flex flex-col md:flex-row items-center gap-8 justify-center">
    <div class="[&>p]:mb-4 [&>p>strong]:text-purple-400/70  [&>p>strong]:font-semibold text-pretty order-2 md:order-1" >
        <p>
            ¡Hola! Mi nombre es Ricardo, tengo 21 años y soy originario de
            México. Me gradué como Desarrollador Web y me <strong> apasiona especialmente
            el trabajo en el Front-End </strong>.
        </p>

        <p>
            Durante mi estancia en la universidad, tuve la oportunidad de
            realizar una pasantía en una empresa de software.Durante este
            tiempo, contribuí al desarrollo de una plataforma de cursos en línea
            utilizando el framework "Laravel". <strong>  Esta experiencia me
            permitió profundizar mis conocimientos en Laravel y trabajar en un
            entorno profesional de desarrollo de software. </strong>
        </p>

        <p>
            Además, durante mis años de universidad, participé en varios
            proyectos interesantes. Uno de ellos fue <strong>  el desarrollo de una
            aplicación de búsqueda de empleo </strong>que utilizaba videos cortos,
            inspirada en el formato de TikTok.
        </p>
    </div>
    <img src="/Yo.webp" alt="Ricardo Contreras" class=" rounded-full size-64 order-1 md:order-2">
</section>
