<header class="flex justify-center  items-center py-3 w-full xl:w-[1120px] mx-auto mt-4" >

    <nav class=" flex flex-row md:text-1.5xl text-sm gap-x-2 md:gap-x-10 opacity-80">
        <a href="#top">Inicio |</a>
        <a href="#Experiencia">Experiencia |</a>
        <a href="#Sobre-mi">Proyectos |</a>
        <a href="#Sobre-mi">Sobre mi |</a>
        <a href="#Contacto">Contacto |</a>
    </nav>
</header>