<header class="flex justify-center items-center py-3 w-full xl:w-[1120px] mx-auto mt-4 sticky top-0 z-10 " >

    <nav class=" flex flex-row md:text-1.5xl text-xs  md:gap-x-5  p-2 text-white bg-black rounded-full [&>a]:px-1">
        <a class="hover:text-purple-300 transition" href="/#Experiencia">Experiencia |</a>
        <a class="hover:text-purple-300 transition" href="/#Proyectos">Proyectos |</a>
        <a class="hover:text-purple-300 transition" href="/#Sobre-mi">Sobre mi |</a>
        <a class="hover:text-purple-300 transition" href="/#Habilidades">Habilidades |</a>
        <!-- <a class="hover:text-purple-300 transition" href="mailto:contrerasr1136@gmail.com">Contacto |</a> -->
    </nav>
</header>